/*
    Diseño de tablas para el proyecto C# y .NET
*/

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #1e293b;
    color: white;
}
